include LICENSE
include README.md
include pyproject.toml
recursive-include whileai *.py
include whileai/py.typed
include whileai/simulations/py.typed
recursive-include whileai/simulations/schemas *.json
prune whileai/simulations/_experimental
prune whileai/simulations/behaviors
prune tests
prune examples
prune specs
prune docs
global-exclude *.ipynb *.py[cod] .DS_Store
